section {
    padding: 5%;
}

nav{
    border-bottom: 1px solid black;
}

input {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

.input-group-addon {
    cursor: pointer;
}

footer {
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
}

.fa-github{
    color:black;
}